@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark-color: #181719;
  --white: #ffffff;
  --grey-footer: #A9A9A9;
}

body {
  background: var(--dark-color);
}

.dark-bar {
  background: var(--dark-color);
}

.borde-boton {
  border: 1px solid #ffffff;
  border-radius: 0px;
}

.texto-navbar {
  font-family: "Crimson Pro", serif;
  font-size: 14px;
}

.texto-item-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.94px;
  font-style: normal;
}

.texto-item-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.text-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 24px;
  font-style: normal;
  line-height: 29px;
  /* width: 410px; */
  height: 145px;
}

.text-modern {
  font-family: "Lora", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 48px;
  line-height: 61.44px;
}

.img-container{
  position: relative;
}

.tarjeta-flotante{
    min-width: 310px;
    position: absolute;
    left: calc(75% - 205px);
    top: 420px;
}

.profile-picture {
  max-width: 63px;
}

.lora-700 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.72px;
}

@media only screen and (min-width: 320px) {
  #this-button a {
    margin-left: 0px;
    position: absolute;
    width: 103px;
    height: 31px;
    left: 12px;
    top: 19px;
  }
  .text-400 p {
    max-width: 320px !important;
    min-height: 145px !important;
  }
  .navbar-toggler button {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 25%;
    bottom: 25%;
  }
  .tarjeta-flotante {
    max-width: 300px;
    position: absolute;
    left: calc(60% - 126px);
    top: 614px;
  }
  .lora-700{
    font-size: 1em;
  }
}

.text-grey{
  color: var(--grey-footer);
}


@media only screen and (min-width: 320px) {
  .tarjeta-flotante{
    min-width: 153px;
    max-width: 230px;
    position: absolute;
    left: calc(55% - 126px);
    top: 162px;
  }
  .texto-item-700{
    padding: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .tarjeta-flotante{
    max-width: 273px;
    max-height: 169px;
    min-height: 169px;
    position: absolute;
    left: calc(50% - 126px);
    top: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .tarjeta-flotante{
    position: absolute;
    top: 258px;
    left: calc(40% - 30px);
  }
}
